/******************************************************************

Utility Style : base

******************************************************************/
@import url("https://fonts.googleapis.com/css?family=Noto+Sans|Noto+Sans+JP&display=swap");
body {
  background: url(/Steveweb/common/images/design/light_honeycomb_@2X.png);
}

html, body, p, div, ul, li {
  margin: 0;
  padding: 0;
  border: 0;
  font-style: normal;
  font-weight: normal;
  font-size: 100%;
  vertical-align: baseline;
}

body {
  font-family: "Noto Sans", "Noto Sans JP";
}

header {
  width: 100%;
  height: 60px;
  position: fixed;
  top: 0;
  position: relative;
  font-family: "Noto Sans", "Noto Sans JP";
}

header p {
  margin: 0;
}

header .headercontainer {
  width: 100%;
  height: 60px;
  text-align: center;
  margin: 0 auto;
  border-bottom: 1px solid black;
}

header .headercontainer h1 {
  font-size: 25px;
  height: 30px;
}

header a {
  text-decoration: none;
  color: black;
  float: right;
  margin-right: 30px;
  margin-top: 20px;
  position: absolute;
  bottom: 0;
  right: 3%;
}

header a span.hometxt {
  display: none;
}

header a:hover {
  opacity: 0.8;
}

header a #homeicon {
  font-size: 20px;
  float: right;
}

div.mycontainer {
  max-width: 990px;
  height: 100%;
  margin: 0 auto;
  padding-top: 20px;
  position: relative;
}

.mycard, .mydialog, .graph_wrapper {
  background-color: white;
  -webkit-box-shadow: 0 1.9px 2.5px rgba(0, 0, 0, 0.057), 0 5px 6.1px rgba(0, 0, 0, 0.076), 0 10.1px 11.4px rgba(0, 0, 0, 0.086), 0 19.2px 19.8px rgba(0, 0, 0, 0.092), 0 38.4px 34.8px rgba(0, 0, 0, 0.1), 0 101px 74px rgba(0, 0, 0, 0.13);
          box-shadow: 0 1.9px 2.5px rgba(0, 0, 0, 0.057), 0 5px 6.1px rgba(0, 0, 0, 0.076), 0 10.1px 11.4px rgba(0, 0, 0, 0.086), 0 19.2px 19.8px rgba(0, 0, 0, 0.092), 0 38.4px 34.8px rgba(0, 0, 0, 0.1), 0 101px 74px rgba(0, 0, 0, 0.13);
}

div.mydialog_header {
  width: 100%;
  height: 60px;
  margin-bottom: 20px;
  background-color: #004d40;
  color: lightgray;
  text-align: center;
  font-size: 1.2em;
}

div.mydialog_header p {
  height: 100%;
  line-height: 60px;
}

#btn_submit {
  display: block;
  width: 70%;
  height: 40px;
  margin: 0 auto;
  margin-top: 10px;
  margin-bottom: 20px;
  background-color: #004d40;
}

#btn_cancel {
  display: block;
  width: 70%;
  height: 40px;
  margin: 0 auto;
  background-color: lightgray;
}

#reload_btn {
  display: none;
}

.mycontainer {
  text-align: center;
  width: 90%;
  max-width: unset !important;
}

div.graph_wrapper {
  width: 80%;
  height: 80%;
  padding: 10px;
  margin: 0 auto;
  overflow-x: auto;
  text-align: center;
}

@media (min-width: 500px) {
  #date_d {
    display: inline-block;
    font-size: 1.5em;
    margin: 5px 10px;
  }
  span.summary_d {
    display: inline-block;
    font-weight: 600;
    font-size: 1.1em;
    margin-left: 5px;
    margin-bottom: 5px;
  }
}

@media (min-width: 900px) {
  /******************************************************************

Utility Style : base

******************************************************************/
  div.mydialog_header {
    height: 60px;
    margin-bottom: 20px;
    font-size: 1.5em;
  }
  div.mydialog_header p {
    line-height: 60px;
  }
  header {
    height: 80px;
    padding-top: 5px;
  }
  header .headercontainer {
    height: 75px;
  }
  header .headercontainer h1 {
    font-size: 35px;
  }
  header a {
    margin-top: 10px;
  }
  header a span.hometxt {
    display: inline-block;
    margin-right: 3px;
  }
  header a #homeicon {
    font-size: 30px;
  }
  .mycontainer {
    background-color: rgba(240, 240, 240, 0.5);
  }
}
/*# sourceMappingURL=style.css.map */