@charset "utf-8";



/* **************************
    Header
************************** */
body {
    background: url(../../common/images/design/light_honeycomb_@2X.png);
}

header {
  width: 100%;
  height: 60px;
  position: fixed;
  top: 0;
  position: relative;
  // clear: both;
  
  & .headercontainer {
      width: 100%;
      height: 60px;
      text-align: center;
      margin: 0 auto;
      border-bottom: 1px solid $cHomeIcon;

      & h1 {
          font-size: 25px;
          height: 40px;
      }
  }

  & a {
    text-decoration: none;
    color:$cHomeIcon;
    float: right;
    margin-right: 30px;
    margin-top: 20px;
    position: absolute;
    bottom: 0;
    right: 3%;

    & span.hometxt {
      display: none;
    }

    &:hover {
      opacity: 0.8;
    }
    
    & #homeicon {
      font-size: 20px;
      float: right;
    }
  }
}


/* **************************
    mycontainer
   ************************** */
div.mycontainer {
    max-width: 990px;
    height: 100vh;
    margin: 0 auto;
    padding-top: 20px;
    position: relative;
}

/* **************************
    card
   ************************** */

div.card {
    @extend .mycard;
    width: 340px;
    height: 142px;
    margin: 0 auto;
    margin-top: 20px;

}

div.cardleft {
  width: 100px;
  height: 142px;
  float: left;
  overflow: hidden;

  & img.thumbnails {
      width: 100%;
      height: 100%;
      object-fit: cover;
  }
  
  & img.thumbnails:hover {
      box-shadow: 10px 10px 10px rgba(0,0,0,0.5);
      transform: scale(1.2);
      transition-duration: .5s;
  }

}


div.cardright {
    width: 240px;
    height: 142px;
    float: right;
}

div.cardheader {
  width: 240px;
  height: 38px;

  & div.carddate {
      background-color: $cBG_white;
      width: 136px;
      height: 38px;
      font-size: 1.3em;
      padding-left: 10px;
      line-height: 38px;
      float: left;
  }
  
  & div.cardprofile {
    background-color: $cBG_white;
    width: 94px;
    height: 38px;
    text-align: right;
    float: right;
    
    & div.profile_pic_frame {
        width: 38px;
        height: 38px;
        border-radius: 50%;
        border: 1px solid $cGray;
        display: inline-block;
    }
  }
}


div.cardcontents {
    width: 240px;
    height: 104px;
    position: relative;
    overflow: hidden;

    &:hover div.action{
      transform: translateY(0);
      transition-duration: .5s;
    }
}

div.carddata {
  width: 120px;
  height: 100px;
  padding-left: 5px;
  padding-top: 4px;
  background-color: $cBG_white;
  float: left;

  & tr{
    line-height: 1.5;
  }
  & th {
    font-weight: bold;
    width: 3em;
  }
}

div.action {
    width: 100%;
    height: 50px;
    background-color:$cGray;
    opacity: 0.8;
    color: $cWhite;
    font-size: 2em;
    transform: translateY(100%);
    transition-duration: .2s;
    position: absolute;
    bottom: 0;
    right: 0;
}

button.hidden_btn {
    display: none;
}


div.iconwrap {
    display: inline-block;
    width: 120px;
    text-align: center;

  &:hover {
    cursor: pointer;
  }

  & form label {
    display: inline-block;
    width: 120px;
    &:hover{
        text-decoration: none;
        color: $cWhite;
        cursor: pointer;
    }
  }
}

td.tdData {
    text-align: right;
    width: 2em;
}

td.tdUnit {
    width: 1em;
    text-align: right;
}

div.cardnotes {
    width: 115px;
    height: 96px;
    padding-top: 8px;
    font-size: 0.9em;
    overflow: hidden;
    background-color: $cBG_white;
    text-align: left;
    float: right;
}

/* **************************
    Add
   ************************** */
div.addmark {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: orange;
    opacity: .7;
    font-size: 1.5em;
    text-align: center;
    line-height: 40px;
    position: fixed;
    bottom: 10px;
    right: 10%;
    z-index: 2;

    & a {
      text-decoration: none;
    }
}

