/******************************************************************

Utility Style : base

******************************************************************/
@charset "utf-8";

body {
    background: url(/Steveweb/common/images/design/light_honeycomb_@2X.png);
}
html, body,p, div,ul,li {
    margin: 0;
    padding: 0;
    border: 0;
    font-style:normal;
    font-weight: normal;
    font-size: 100%;
    vertical-align: baseline;
}


body {
    @import url('https://fonts.googleapis.com/css?family=Noto+Sans|Noto+Sans+JP&display=swap');
    font-family: "Noto Sans", "Noto Sans JP";
}

header {
    width: 100%;
    height: 60px;
    position: fixed;
    top: 0;
    position: relative;
    font-family: "Noto Sans", "Noto Sans JP";

    // clear: both;

    & p{
        margin: 0;
    }
    
    & .headercontainer {
        width: 100%;
        height: 60px;
        text-align: center;
        margin: 0 auto;
        border-bottom: 1px solid $cHomeIcon;
  
        & h1 {
            font-size: 25px;
            height: 30px;
        }
    }
  
    & a {
      text-decoration: none;
      color:$cHomeIcon;
      float: right;
      margin-right: 30px;
      margin-top: 20px;
      position: absolute;
      bottom: 0;
      right: 3%;
  
      & span.hometxt {
        display: none;
      }
  
      &:hover {
        opacity: 0.8;
      }
      
      & #homeicon {
        font-size: 20px;
        float: right;
      }
    }
  }
  

  div.mycontainer {
    max-width: 990px;
    height: 100%;
    margin: 0 auto;
    padding-top: 20px;
    position: relative;
}


.mycard {
    background-color:$cBG_white;
    box-shadow: 0 1.9px 2.5px rgba(0, 0, 0, 0.057),
    0 5px 6.1px rgba(0, 0, 0, 0.076), 0 10.1px 11.4px rgba(0, 0, 0, 0.086),
      0 19.2px 19.8px rgba(0, 0, 0, 0.092), 0 38.4px 34.8px rgba(0, 0, 0, 0.1),
      0 101px 74px rgba(0, 0, 0, 0.13);
}

.mydialog{
    @extend .mycard;
}

.graph_wrapper{
    @extend .mycard;
}

div.mydialog_header {
    width: 100%;
    height: 60px;
    margin-bottom: 20px;
    background-color: $cBG_dialog_header;
    color: $cGray;
    text-align: center;
    font-size: 1.2em;

    & p {
        height: 100%;
        line-height: 60px;
    }
}


#btn_submit {
    display: block;
    width: 70%;
    height: 40px;
    margin: 0 auto;
    margin-top: 10px;
    margin-bottom: 20px;
    background-color: $cBG_btn_submit;
}
  
#btn_cancel {
    display: block;
    width: 70%;
    height: 40px;
    margin: 0 auto;
    background-color: $cBG_btn_cancel;
}
  
