/******************************************************************

Utility Style : base

******************************************************************/

div.mydialog_header {
    height: 60px;
    margin-bottom: 20px;
    font-size: 1.5em;

    & p{
        line-height: 60px;
    }
}

