//Font or Border color
$cSiteTitle:rgb(182, 181, 150);
$cHero:rgb(0,170,0);
$cRequired:blueviolet;
$cErrMessage:red;
$cGray:lightgray;
$cWhite:white;
$cHomeIcon:black;
$cInfoBlue:blue;

//Background color
$cBG_dialog_header:#004d40;
$cBG_white:white;
$cBG_black:black;
$cBG_ErrField:pink;
$cBG_btn_submit:$cBG_dialog_header;
$cBG_btn_cancel:lightgray;
