@charset "utf-8";


/* **************************
    fonts
   ************************** */

@import url('https://fonts.googleapis.com/css?family=Noto+Sans|Noto+Sans+JP&display=swap');



/* **************************
    モバイル用設定
   ************************** */


/* **************************
    基本設定
   ************************** */

   html, body,p, div,ul,li {
       margin: 0;
       padding: 0;
       border: 0;
       font-style:normal;
       font-weight: normal;
       font-size: 100%;
       vertical-align: baseline;
   }

   body {
    margin: 0;
    padding: 0;
    max-width: 100%;
    height: 100%;
    background: url(img/home.jpeg) no-repeat;
    background-position: center;
    background-size: cover;
}

/* div.filter {
    width: 240px;
    height: 250px;
    margin: auto auto;
    background-color: lightgray;
} */

div.container {
    max-width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    /* margin: 0 auto; */
    /* position: relative; */
}

div.wrapper {
    width: 250px;
    height: 600px;
    padding: 12px;
    background-color: rgba(0, 0, 0, 0.4);
    margin: 0 auto;
    overflow: hidden;
    /* 上下中央にするための設定ここから */
    /* position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto; */
    /* 上下中央にするための設定ここまで*/

}


/* **************************
    Title
   ************************** */



div.title {
    width: 222px;
    height: 150px;
    margin: 0 auto;
    /* float: left; */
    /* margin: 0 auto; */
    font-family: "Noto Sans", "Noto Sans JP";
    /* padding-top: 15px; */
    /* padding-left: 2px; */
}


div.title p {
    color: gray;
    font-size: 35px;
    text-align: center;
    margin: 0;
}

#steve {
    color:rgb(182, 181, 150); 
    font-size: 60px;
    width: 222px;
    text-align: center;
    margin: 0 auto;
    /* margin: 5px 0; */
}
span.hero {
    color:lightgray;
}

/* **************************
    Menu
   ************************** */


    

div.menu {
    width:350px;
    height: 87px;
    padding-left: 12px;
    /* float: left; */
    margin: 0 auto;
    padding-top: 32px;
}

div.menu ul li {
    margin-bottom: 10px;
    list-style: none;
}

div.menu ul li a{
    font-family: "Noto Sans", "Noto Sans JP";
    color: #fff;
    text-decoration: none;
    font-size: 25px;
    line-height: 1.5;
}

div.menu table tr {
    line-height: 2.5;
}

.menuname a{
    font-size: 28px;
    color: #fff;
    margin-left: 6px;
    text-decoration: none;
}

.menuname a:hover {
    font-size: 32px;
    color: lightgreen;
    transition-duration: 300ms;
}

.menuicon {
    font-size: 28px;
    color: #fff;
    margin-right: 5px;
}



/* **************************
    PC用設定
   ************************** */


/* **************************
    基本設定
   ************************** */

@media screen and (min-width:900px){

    
    body {
    width: 100%;
    height: 100%;
    background: url(img/home.jpeg) no-repeat;
    background-position: center;
    background-size: cover;
    }
    
    div.filter {
        width: 960px;
        height: 1000px;
        margin: auto auto;
        background-color: lightgray;
    }
    div.container {
        width: 960px;
        height: 900px;
        margin: 0 auto;
        position: relative;
    }
    
    div.wrapper {
        width: 860px;
        height: 500px;
        padding: 50px;
        background-color: rgba(0, 0, 0, 0.4);    
        /* 上下中央にするための設定ここから */
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        margin: auto;
        /* 上下中央にするための設定ここまで*/
    }

}

/* **************************
Title
************************** */

@media screen and (min-width:900px){
    div.title {
        width: 490px;
        height: 350px;
        float: left;
        font-family: "Noto Sans", "Noto Sans JP";
        padding-top: 140px;
        /* padding-left: 10px; */
    }
    
    
    div.title p {
        color: #fff;
        font-size: 55px;
        text-align: center;
    }
    
    #steve {
        width: 490px;
        color:rgb(182, 181, 150); 
        font-size: 100px;
        /* font-weight: 600; */
    }

    #subtitle{
        display: none;
    }
    /* span.hero {
        color: rgb(0, 100, 0);
    } */

}
        
        /* **************************
        Menu
   ************************** */

@media screen and (min-width:900px){
    div.menu {
        width:310px;
        height: 350px;
        padding-left: 50px;
        float: left;
        padding-top: 130px;
        opacity: 0;
    }
    
    div.menu ul li a{
        font-family: "Noto Sans", "Noto Sans JP";
        color: #fff;
        text-decoration: none;
        font-size: 28px;
        line-height: 2.2;
    }
    
    div.menu table tr {
        line-height: 2.5;
    }
    .menuname a{
        font-size: 28px;
        color: #fff;
        margin-left: 15px;
        text-decoration: none;
    }
    
    .menuname a:hover {
        font-size: 32px;
        color: lightgreen;
        transition-duration: 300ms;
    }
    
    .menuicon {
        font-size: 28px;
        color: #fff;
        margin-right: 10px;
    }
    

}

