#reload_btn {
  display: none;
}

.mycontainer{
  text-align: center;
  width: 90%;
  max-width: unset !important;
}

div.graph_wrapper {
  width: 80%;
  height: 80%;
  padding: 10px;
  margin: 0 auto;
  overflow-x: auto;
  text-align: center;
}

