@charset "utf-8";


/* **************************
    fonts
   ************************** */

@import url('https://fonts.googleapis.com/css?family=Noto+Sans|Noto+Sans+JP&display=swap');



/* **************************
    モバイル用設定
   ************************** */


/* **************************
    基本設定
   ************************** */

   html, body,p, div,ul,li {
       margin: 0;
       padding: 0;
       border: 0;
       font-style:normal;
       font-weight: normal;
       font-size: 100%;
       vertical-align: baseline;
   }

/* **************************
    ローディングアニメーション
   ************************** */

   .loader-wrap {
	position: fixed;
	display: flex;
    align-items: center;
    justify-content: left;
    width: 100%;
    height: 100%;
    background: #fff;
    z-index: 2;
}


/* https://projects.lukehaas.me/css-loaders/ */
.spinner {
    /* display: inline-block; */
    width: 40px;
    height: 40px;
    background-color: #333;
    color: white;
    text-align: center;
    line-height: 40px;
    margin: 100px auto;
    -webkit-animation: sk-rotateplane 1.2s infinite ease-in-out;
    animation: sk-rotateplane 1.2s infinite ease-in-out;
  }
  
  @-webkit-keyframes sk-rotateplane {
    0% { -webkit-transform: perspective(120px) }
    50% { -webkit-transform: perspective(120px) rotateY(180deg) }
    100% { -webkit-transform: perspective(120px) rotateY(180deg)  rotateX(180deg) }
  }
  
  @keyframes sk-rotateplane {
    0% { 
      transform: perspective(120px) rotateX(0deg) rotateY(0deg);
      -webkit-transform: perspective(120px) rotateX(0deg) rotateY(0deg) 
    } 50% { 
      transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg);
      -webkit-transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg) 
    } 100% { 
      transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg);
      -webkit-transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg);
    }
  }
  
/* **************************
    Contents
   ************************** */



   body {
    margin: 0;
    padding: 0;
    max-width: 100%;
    height: 100%;
}

div.mycontainer {
    max-width: 100%;
    height: 100vh;
    padding: 0;
    margin: 0;
    /* background: url(img/home.jpg) no-repeat; */
    background-image: url(img/home.jpg);
    background-position: center;
    background-size: cover;
    /* margin: 0 auto; */
    /* position: relative; */
}

div.wrapper {
    width: 250px;
    height: 100vh;
    padding: 12px;
    background-color: rgba(0, 0, 0, 0.4);
    margin: 0 auto;
    overflow: hidden;
    /* 上下中央にするための設定ここから */
    /* position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto; */
    /* 上下中央にするための設定ここまで*/

}


/* **************************
    Title
   ************************** */



div.title {
    width: 222px;
    height: 100vh;
    margin: 0 auto;
    /* float: left; */
    /* margin: 0 auto; */
    font-family: "Noto Sans", "Noto Sans JP";
    /* padding-top: 15px; */
    /* padding-left: 2px; */
}


div.title p {
    color: #fff;
    font-size: 35px;
    text-align: center;
    margin: 0;
}

#steve {
    color:rgb(182, 181, 150); 
    font-size: 60px;
    width: 222px;
    text-align: center;
    margin: 0 auto;
    /* margin: 5px 0; */
}

div.title p.crawl {
    font-size: 30px;
    margin-top: 120px;
    margin-bottom: 20px;
    visibility: hidden;
}

div.title p.links {
    font-size: 25px;
    text-decoration: none;
    visibility: hidden;
    margin-top: 15px;
}

div.title p.links:hover {
    transform: scale(1.1);
    transition-duration: 500ms;
}
a {
    text-decoration: none;
    color: rgb(182, 181, 150);
}


#subtitle{
    display: none;
}


span.hero {
    /* color:lightgray; */
}



/* **************************
    PC用設定
   ************************** */


/* **************************
    基本設定
   ************************** */

@media screen and (min-width:900px){

    
    body {
    width: 100%;
    height: 100%;
    background-position: center;
    background-size: cover;
    }

    body img {
        width: 100%;
        height: 100%;
    }
    
    div.filter {
        width: 960px;
        height: 1000px;
        margin: auto auto;
        background-color: lightgray;
    }
    div.mycontainer {
        margin: 0 auto;
        position: relative;
    }
    
    div.wrapper {
        width: 860px;
        padding: 50px;
        background-color: rgba(0, 0, 0, 0.4);    
        position: relative;
    }
    
}

/* **************************
Title
************************** */

@media screen and (min-width:900px){
    div.title {
        width: 600px;
        height: 70%;
        font-family: "Noto Sans", "Noto Sans JP";
        /* padding-top: 140px; */
        margin: 0 auto;
        /* padding-left: 10px; */
        /* 上下中央にするための設定ここから */
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        margin: auto;
        /* 上下中央にするための設定ここまで*/
    }
    
    
    div.title p {
        color: #fff;
        font-size: 70px;
        text-align: center;
    }
    
    div.title p.crawl {
        font-size: 40px;
        margin-top: 120px;
        margin-bottom: 20px;
        visibility: hidden;
    }

    div.title p.links {
        font-size: 30px;
        text-decoration: none;
        visibility: hidden;
        margin-top: 15px;
    }

    div.title p.links:hover {
        transform: scale(1.1);
        transition-duration: 500ms;
    }
    a {
        text-decoration: none;
        color: rgb(182, 181, 150);
    }

    #steve {
        width: 490px;
        color:rgb(182, 181, 150); 
        font-size: 130px;
        /* font-weight: 600; */
    }

    #subtitle{
        display: none;
    }
    /* span.hero {
        color: rgb(0, 100, 0);
    } */

}
        

