@charset "UTF-8";


/* **************************
    mycontainer
   ************************** */


.mycontainer{
  max-width: unset !important;
  padding-left: 0.5%;
  padding-right: 0.5%;
  box-sizing: border-box;
  width: 80%;

  &::after{
    height: 100vh;
    padding-top: 100%; 
  }
}


div.photoframe {
    /* background-color:ivory; */
    position: relative;
}

div.picnote {
    position: absolute;
    bottom: 0;
    left: 1em;
    word-break: break-all;
}


/* **************************
    main
   ************************** */

div.category {
    /* background-color: cadetblue; */
    /* font-size: 20px; */
    width: 100%;
    height: 30px;
    /* border-left: 10px solid indigo;
    border-bottom: 3px solid indigo; */
    clear: both;
    margin: 20px 0 10px 0;
    padding-left: 10px;
    /* padding-top: 10px; */
}

div.clearf {
    clear: both;
}
div.category  h2{
    font-size: 24px;
    float: left;
}

div.collapseicon {
    display: none;
    font-size: 15px;
    color: gray;
    float: left;
    width: 200px;
    height: 30px;
    margin-left: 50px;
    margin-top: 5px;
}


div.category:hover {
    background-color:rgba(150,150,150,0.4);
    cursor: pointer;
}

div.category:hover  .collapseicon {
    display: block;
}


div.photoarea {
    width: 100%;
    height: auto;
    margin: 0 auto;
    background-color: blueviolet;
    /* transition-duration: 300ms; */
}

ul {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}

li {
    display: list-item;
    box-sizing: border-box;
    /* height: auto; */
    object-fit: cover;
    position: relative;
    list-style: none;
    box-shadow:1px 2px 20px 3px #ffabc9;
  }

  
  li.size_large{
      width: 49%;
      margin: 0.5%;
    }
    
    li.size_normal{
        width: 24%;
        margin: 0.5%;
    }
    
    li.size_small{
        width: 12%;
        margin: 0.25%;
    }
    li.size_max{
        width: 96%;
        margin: 2%;
    }

li::after{
    content: "";
    display: block;
    padding-top: 100%;
}


li a {
    /* display: block; */
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

li a img {
    width: 100%;
    height: 100%;

    object-fit: cover;

}

.slide_wrapper{
    width: 50%;
    margin: 0 auto;
    text-align: center;
}
.input-range[type="range"] {
    -webkit-appearance: none;
    display: inline-block;
    appearance: none;
    background-color: black;
    width: 80%;
    height: 1px;
    border-radius: 6px;
  
    &:focus,
    &:active {
      outline: none;
    }
  
    &::-webkit-slider-thumb {
      -webkit-appearance: none;
      appearance: none;
      cursor: pointer;
      position: relative;
      width: 22px;
      height: 22px;
      display: block;
      background-color: #07be19;
      border-radius: 50%;
      -webkit-border-radius: 50%;
    }
  }