@import '../../common/styles/variables';

.loader-wrap {
    position: fixed;
    display: flex;
    align-items: center; 
    width: 100%;
    height: 100%;
    background: #fff;
    z-index: 2;
   }
   
   
   /* https://projects.lukehaas.me/css-loaders/ */
   .spinner {
    width: 40px;
    height: 40px;
    background-color:$cSiteTitle;
    color:white;
    text-align: center;
    line-height: 40px;
    margin: 100px auto;
    animation: sk-rotateplane 3.2s infinite ease-in-out;
   }
   
   @keyframes sk-rotateplane {
     0%,100% {
       transform: perspective(120px) rotateX(0deg) rotateY(0deg);
     }
     25% { 
       transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg);
     }
     50% { 
       transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg);
     }
     75% { 
       transform: perspective(120px) rotateX(0deg) rotateY(-180deg);
     }
   }
   