

/* **************************
    mycontainer
   ************************** */

  div.mycontainer {
    max-width: 990px;
    height: 100vh;
  }

  .form-group {
    width: 80%;
    margin: 0 auto;
  }
/* **************************
    card
   ************************** */

  div.mydialog {
    width: 700px;
    margin-top: 40px;
  }


  form.select {
    display: block;
  }

